table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc; /* Lichtgrijze rand */
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #00bcd4;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #007c8c;
}

/* Formulierinvoer voor unload */
input[type="number"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 80px;
    margin-right: 5px;
}
